
<div class="comment">
    {{#each this}}
    <section >
        <div class="">
            {{vote_count}} {{user.username}} on {{format_date created_at}}
            <a href="/post/{{id}}">{{comments.length}}</a>
            <br>
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>