<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <div class="title col">
    <h4>
      Bloc Editor
    </h4>
    <h2 class="">
      {{post.title}}
    </h2>
  </div>
  <form class="edit-post-form col">
    <div class="row">
      <div class="col p-4">
        <img src="{{post.post_url}}" alt="">
      </div>
      <div class="col-8 p-4">
        <input name="post-content" type="text" size="100" value="{{post.post_content}}" />
      </div>
    </div>
    <div>
      [{{post.vote_count}} 🍑's]
      <br>
      [ {{post.star_rating}} ⭐]
      <a href="/post/{{post.id}}">{{post.comments.length}} 🗨️ Comments</a>
    </div>
    <div class="col">
      <a href="/post/{{post.id}}">Return to original post</a>
    </div>
    <button type="submit" class="btn btn-sm btn-outline-primary">Save Bloc</button>
    <button type="button" class="btn btn-sm btn-outline-danger">Delete Bloc</button>
  </form>
</article>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>